h2{color: #fd0d9d;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin: 1em auto auto auto !important;
width: fit-content;
border-radius: 5px;
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac,
0 6px 1px #0000001a, 0 0 5px #0000001a, 0 1px 3px #0000004d, 0 3px 5px #00000033,
0 5px 6px #00000040, 0 6px 6px #00000033, 0 12px 12px #00000026;
background-color: #ffffff;
border-radius: 15px;
padding: 0.15em;
}

h3{color: #3e51ffe7;
text-shadow: 0px 0px 6px #3e51ff98 ;
}
    
h4{color: #b8006e;
padding-top: 1em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
text-shadow: 0px 0px 3px #b8006e;
text-transform: uppercase;
}

button:focus{box-shadow: none !important;
}

body{background-image: url(https://i.pinimg.com/originals/e5/0b/93/e50b93be311412d63fbeb320d692b552.jpg);
background-position: top;
background-size: contain;}

p{color: #b8006e;
font-weight: 700;}

p:hover{color: #fd0d9d;}

input{width: 100%;
border: none;}

input:hover{background-color: #79ceff54;}

li{width: fit-content;}

			/*---------------------- CLASES ------------------------*/

 							/* Componente Footer.jsx */

.parrafoFooter{color: #dbdbdb;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 300;
}

.ulFooter{ width: 100%;
padding: 1em;
margin-bottom: -0.5em ;
display: flex;
flex-direction: row;
pointer-events:none;
list-style: none;
justify-content: space-evenly;
}

							/* Componente Navbar.jsx */

.navbar{ background-color: #0d6dfde0;
}

							/* Componente CartWidget.jsx */

.carrito { display: flex;
background-color: rgb(75, 174, 255);
margin: 0px 0.25rem;
padding: 0.25rem;
border-radius: 0.25rem;
color: white;
font-weight: bold;
}

							/* Componente Loader.jsx */

.loader{display: flex;
margin: 10em auto 10em auto;
padding: 1.5em;
justify-content: center;
align-items: center;
background-color: #ffffffec;
width: fit-content;
border-radius: 20px;
}

							/* Componente ItemListContainer.jsx */

.cardItem{display: inline-flex;
width:21.07em;
text-align: center;;
padding: 1em;
margin: 1em auto 1em auto;
}

.cardItem:hover{transform: scale(1.05, 1.05);
transition: 300ms;
}

							/* Componente ItemDetail.jsx */

.cards{display: inline-block;
max-width: 22em ;
text-align: center;
}

.cardColor{background-color: #ffffffd8;
border-radius: 20px;
border-width: 0.15em;
max-width:10em;
}

.mensajeProducto{min-height: 15em;
align-items: center;
justify-content: center;
display: flex;
}

							/* Componente Formulario.jsx */

.error {
color: #e92b2d;
font-weight: 600;
font-size: 12px;
}

.input{margin: 1.3em 0em 1.3em 0em;}

							/* Componente Cart.jsx */

.cart{text-align:center;
padding:1em;
margin:5em 0em 15em 0em;
width: 100%;
align-items:center;
}

.cartVacio{background-color:#d9d9e3de;
padding: 1em;
width: fit-content;
margin: auto; 
border: 2.5px solid #ffffff8a;
min-height: 22em;
}

							/* Links */

:link{text-decoration: none;
}

.links{color: #b8006e;}

.links:hover{color: #fd0d9d;}

			/*------------------------------ IDs ---------------------------------*/

							/* Navbar */

#dropDown{color: white;
padding-left: 0.5rem;
}

							/* Footer */

#footer{background-color: #0d6dfdf5;
	font-weight: bolder;
	text-align: center;
	min-height: 5em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: block;
	padding: 0.5em;
}

#parrafoDetail{margin: 0.4em;
pointer-events: none;
}

							/* Item Detail */

#informacionDetail{border-left: solid #0d6efd 2px;
text-align: center;
padding-top: 6em;
background-color:#e2e2fd;
}


#containerDetail{text-align: center;
min-height: 22em;
padding: 2em 5em 0em 5em;
}

							/* Formulario */

#form{background-color: #c8deffea;
margin: 1em auto 1em auto;
max-width: 30em;
padding: 1em;
text-align: center;
border: 3px solid #bdd2ffde;
}

							/* Cart */

#divCart{background-color: white;
margin: 1em auto 1em auto;
width: 50%;
text-align: center;
border: 2px solid #0d6efd;
border-radius: 20px;
padding: 2em 0em 2em 0em
}

					/*---------------------- PANTALLAS CHICAS -------------------------*/

@media screen and (max-width: 600px){

p{font-size: 0.8em !important;}

.cards{width: 100% !important;}

.cardColor{max-width: 90%;
margin-top: 1em;}

#containerNav{font-size: 0.8em;
padding-left: 0;}

.links{font-size: 0.8em;}

.cardItem{display: flex;
width: 16.5em;}

#linkHome{padding-left: 0;}

#dropDown{padding-right: 0;}

#parrafoDetail{font-size: 0.6em;}

#containerDetail{padding: 0;}

#form{margin: 2em;}
}